body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #082767;
    color: #0e0e0e;
    padding-top: 3em;
}

h1 img{
    width: 489px;
    margin: 20px;
}
input{
    border: 1px solid #000000;
    background: #fdfdfd;
    font-size: 24px;
    padding: 10px;
    margin: 4px;
    
}
button{

    border: 1px solid #000000;
    background: #d8d8d8;
    font-size: 24px;
    margin: 10px;
    
 
    
}
.result {
    padding: 10px;
    border: 1px solid #d8d8d8;
    color: #000;
    background: #fdfdfd;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background: #f7f7f7;
    padding: 50px 5px 100px 5px ;
    margin: 16px 0;
    border-radius: 8px;
  }



 